apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: ovh-credentials
  namespace: cert-manager
data:
  applicationKey: "{{ applicationKey }}"
  applicationSecret: "{{ applicationSecret }}"
  consumerKey: "{{ consumerKey }}"
