---
apiVersion: v1
kind: Secret
metadata:
  name: proxmox-pve-credentials
  namespace: flux-system
stringData:
  ssh_username: <user>
  ssh_password: <pass>
  api_token: terraform@pve!provider=<api-token>
  