---
apiVersion: v1
kind: Secret
metadata:
  name: proxmox-pve-credentials
  namespace: flux-system
stringData:
  ssh_username: {{ username }}
  ssh_password: {{ password }}
  api_token: {{ api_token }}
  