apiVersion: v1
kind: Secret
metadata:
  name: opensearch-secret
  namespace: logging
stringData:
    OPENSEARCH_USER: "{{ username }}"
    OPENSEARCH_INITIAL_ADMIN_PASSWORD: "{{ password }}"
    OPENSEARCH_PASSWORD: "{{ password }}"
type: Opaque
